.shared-dish-tile {
  padding: 23px 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 20px #E3EDF2;
  margin-bottom: 10px;
}

.dish-title {
  display: flex;
  flex-flow: row;
  margin-bottom: 12px;
}

.dish-name {
  margin-top: 3px;
  display: inline-block;
  font-weight: 500;
  flex: 1 1 auto;
}

.dish-subtitle {
  display: flex;
  flex-flow: row;
  margin-top: 18px;
}

.title-ending, .subtitle-ending {
  flex: 0 0 auto;
}

.description {
  flex: 1 1 auto;
  font-weight: normal;
  font-style: italic;
}

.separator {
  border-top: solid 1px rgba(83, 131, 236, 0.15);
}