.tag-btn {
  border: solid 2px #E3EDF2;
  height: 40px;
  background-color: #F9F9F9;
  border-radius: 4px;
  text-align: center;
  line-height: 40px;
  font-weight: 500;
}

.tag-selected {
  background-color: #E3EDF2;
}