body {
  margin: 0;
  font-family: 'HK Grotesk';
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1; /* offseting bootstrap's 1.5 */
  color: black; /* offseting bootstrap's custom color */
  background-color: #d8e2f8;
}

#root {
  overflow: show;
}