.slide-down-panel {

  /* Menu Sections */
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 72.21%;

  /* White */

  background: #FFFFFF;
  /* card-shadow-3 */

  box-shadow: 0px 8px 20px rgba(0, 20, 63, 0.05);
  border-radius: 6px;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  align-self: center;
  margin: 0px 15px;
}

.panel-header {
  height: 80px;
  width: 100%;
  position: relative;
  line-height: 80px; /* vertically center stuff */
}

.panel-body {
  max-height: 600px;
  width: 100%;
  padding: 10px 15px 20px 15px;
}

.panel-header-element {
  display: inline-block;
  font-weight: 700;
}

.tagbtn-in-grid {
  margin: 10px;
}

#filter-txt {
  margin-left: 38px;
}

#header-row {
  display: flex;
  flex-direction: row;
}

#spacer {
  flex: 1 1 auto;
}

#counter {
  margin-left: 5px;
  /* includes some hard-coded stuff because text is off-center smh */
  display: inline-block;
  line-height: 23px;
  text-align: center;
  height: 22px;
  min-width: 22px;
  border-radius: 11px;
  background-color: #8A9DB7;
  color: white;
}

#clear-btn {
  width: 96px;
  height: 44px;
  font-weight: 700;
  font-size: 18px;
  border-radius: 22px;
  z-index: 25;
}

#expand-btn {
  margin: 0 25px;
  float: right;
  position: absolute;
  right: 0;
}

.grid-container {
  margin-bottom: 20px;
}

/* Setting the padding of the built-in grid container to zero */
.grid-container > div {
  padding: 0;
}

#save-btn {
  background-color: #F3A35C;
  color: white;
  font-weight: bold;
  margin: 10px auto 0 auto;
  display: block;
  width: 85%;
  height: 44px;
  border-radius: 22px;
}

.expand-arrow-less {
  transform: rotate(180deg);
}

.tag-section-subtitle {
  margin-left: 10px;
  margin-bottom: 5px;
  display: block;
  font-size: 14px;
  font-weight: 500;
  color: #8A9DB7;
}

.hot-scroll-panel-category {
  line-height: 200%;

  font-family: HK Grotesk;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #8A9DB7;
}

.hot-scroll-panel-category:hover {
  color: #000000;
  text-decoration: underline #5383EC;
}
